body{margin:20px 0px 0px 0px; 
     background-image:url('../VS/img/Fondo.jpg');
    }

.container{ width:960px; 
			height:auto;
			background-color:white;
			border-style:solid; 
			border-width:1px ; 
			border-color:#000000;
			margin: 0 auto;
            }
            
.img
{width: 220px;
 float:left;
 }
 
 
.logo
{   float:left;
    background-color:transparent;
    margin:10px 10px 10px 60px;
    }

.main{	width:960px; 
			min-height: 500px;
			font:16px arial,helvetica,sans-serif; 
			color:#04046a;
			background-color:white;
			display:block;
			}
			
.header
{
    background-image:url('../VS/img/fondo_header_trans.png');
    width: 960px;
    height: 130px;
    border-bottom-style: groove;
    border-bottom-color: Black;
}

.login
{    width:330px; 
	 height:auto;
	 background-color:#04046a;
	 border-style:solid; 
	 border-width:1px ; 
	 border-color:#000000;
	 float:right;
	 margin:3px 15px 15px 15px;
}

.link
{   font:12px arial,helvetica,sans-serif; 
	color: white;
	margin:5px 0px 0px 10px;
	float:left;
	width:200px;
	float:left;
    }
			
.titleLog 
{   display:block;
    font: 18px arial,helvetica,sans-serif; 
    color: white;
    margin:5px;
    text-align:center;
    }
		
.oneControlLog
{	font:14px arial,helvetica,sans-serif; 
 	color: white;
	float:left;
	width:70px;
	margin:3px 30px 3px 30px;
}

.oneControlTxtLog
{	font:11px arial,helvetica,sans-serif; 
 	color: Black;
	float:left;
	width:150px;
}

.buttom
{ text-align:right;
  margin-right:15px;
  margin-top:65px;
  margin-bottom: 8px;
    }

.footer
{ background-image:url('../VS/img/fondo_header_trans.png');
  font:10px arial,helvetica,sans-serif;
  font-weight:bold;
  border-top-style:groove;
  border-bottom-color:Black;
  height:70px;
}