.login
{    width:380px; 
	 height:auto;
	 background-color:#04046a;
	 border-style:solid; 
	 border-width:1px ; 
	 border-color:#000000;
	 float:left;
	 margin:15px 20px 15px 75px;
}

.link
{   font:16px arial,helvetica,sans-serif; 
	color: #04046a;
	margin:10px;
	float:left;
	width:200px;
	float:right;
    }
			
.titleLog 
{   display:block;
    font: 20px arial,helvetica,sans-serif; 
    color: white;
    margin:5px;
    text-align:center;
    }
	
		
.oneControlLog
{	font:18px arial,helvetica,sans-serif; 
 	color: white;
	float:left;
	width:90px;
	margin:3px 30px 3px 30px;
}

.buttom
{ text-align:right;
  margin-right:35px;
  margin-top:87px;
    }
      
.category
{ background-color:White;
  margin:50px 15px 15px 80px;
  height:50px;
    }
 
 .shops
 {background-color:White;
  width:960px;
  height:auto;
  margin-top:50px;
 }
    
.column
{ margin:50px 15px 15px 80px;
  width:200px;
  height:300px;
  border-style:dotted; 
  border-width:1px ; 
  border-color:#000000;
  float:left;
  background-color:White;
    }
    
 .imgCol
{ width:150px;
  height:150px;
  margin:30px 25px 10px 25px;
}

.captcha
{height:40px;
 width:149px;
    }
    
.mgerror
{color:Red ; 
 font-size:16px;
 float: left;
    }

    